body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  padding: 1em;
}

h1 {
  font-size: 3em;
  margin: 0.25em 0;
}

h3 {
  font-size: 2em;
  margin: 0.25em 0;
}

p {
  font-size: 1em;
}
.dot{
  fill: rgb(196, 88, 11);
}
.label{
  fill: black;
  font-size: 10px;
}
.tooltip {
  display: inline;
  position: fixed;
  font-size: 12px;
  background-color: azure;
  border-radius: 5%;
  text-align: center;
  padding: 5px 0;
}